.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {

}

.hand {
  overflow: auto;
}

body {
  background: url(../img/BlackJack-Table-Hugetext-A4.gif);
  background-size: cover;
  background-position: -40px;
}
.game-container {
  margin-top: 23%;
  padding-left: 42%;
}
